.App {
	text-align: center;
}

/* from kyle */
#video-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-auto-rows: 300px;
}
video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.btn {
	display: inline-block;
	color: white;
	padding: 20px;
	border-radius: 20px;
	text-decoration: none;
	margin: 20px;
	background: skyblue;
	min-width: 200px;
	font-weight: 800;
	font-size: 1.5rem;
}
.btn-home {
	background: #e04c68;
}

.title {
	font-family: monospace;
}

/* Disable blue outline */
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}
